body {
  padding-top: 51px;
  margin-bottom: 60px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #transparent;
}
#navbar-sm {
  display: none;
}
#masthead {
  background-color: #eeeeff;
  min-height:160px;
}

#masthead h1 {
  font-size: 30px;
  line-height: 1;
  padding-top: 20px;
}

#masthead .well {
  margin-top: 8%;
}

#masthead-small {
  display: none;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

code {
  background-color: #eee;
  color: black;
}

div.note {
  background-color: #eef;
  margin: 10px;
  padding: 10px;
  font-size: 90%;
}

div.block-image {
  margin: 20px 0;
  text-align: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

table {
  margin: 10px auto;
}
th, td {
  border: 1px solid black;
  padding: 10px;
}
th {
  background-color: #eee;
}

div.footer {
  background-color: #f8f8f8;
  border-top: #e7e7e7 1px solid;
  color: #777;
  padding: 5px 30px;
}
#footer-xs {
  display: none;
}

@media screen and (max-width: 992px) {
  body {
    margin-bottom: 0px;
  }
  #navbar-md {
    display: none;
  }
  #navbar-sm {
    display: block;
  }
  /*
   * Hide sidebar toggle button temporarily.
   * The links within the sidebar don't work (they are not clickable).
   */
  #navbar-sm button.navbar-toggle {
    display: none;
  }
  .navbar-toggle {
    display: inline;
  }
  .navbar a.link {
    display: inline-block;
    margin-top: 15px;
    margin-right: 5px;
  }
  #masthead {
    display: none;
  }
  #masthead-small {
    background-color: #eeeeff;
    display: block;
    margin-top: 15px;
    min-height: 0px;
  }
  #masthead-small h1 {
    padding-top: 0px;
  }

  #masthead-small .well {
    margin-top: 8%;
  }
  #sidebar {
    height: auto;
    padding-right: 0;
    padding-top: 20px;
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    display: none;
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
    display: block;
  }
  #sidebar {
    padding-top:0;
  }
  #footer-sm {
    display: none;
  }
  #footer-xs {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #masthead {
    display: none;
  }
}
