<!DOCTYPE html>
<html>
<head>
  <title>CLICK COUNTER | Cape.JS Demo</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css"
     href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./clickable_area.css">
  <script src="../../dist/cape.js" charset="UTF-8"></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>PARTIAL CONTAINER <small>Cape.JS Demo</small></h1>
    </div>

    <div class="page-body" id="partial-container"></div>
  </div>

  <script src="./clickable_area.js"></script>
  <script src="./partial_container.js"></script>
  <script>
    var container = new PartialContainer();
    container.mount('partial-container');
  </script>
</body>
</html>
