<!DOCTYPE html>
<html>
<head>
  <title>CLICK COUNTER | Cape.JS Demo</title>
  <link rel="stylesheet" type="text/css"
     href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="../../dist/cape.js" charset="UTF-8"></script>
  <style>
    div.partial-container {
      border: 2px dotted black;
      padding-top: 20px;
      margin: 20px;
      text-align: center;
    }
    div.clickable-area {
      border: 1px solid black;
      padding: 20px;
      margin: 20px;
      text-align: center;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>PARTIAL CONTAINER <small>Cape.JS Demo</small></h1>
    </div>

    <div class="page-body" id="partial-container"></div>
  </div>

  <script src="./clickable_area.js"></script>
  <script src="./partial_container.js"></script>
  <script>
    var container = new PartialContainer();
    container.mount('partial-container');
  </script>
</body>
</html>
