    <div class="col-xs-12 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul class="nav" id="sidebar">
      {{ $baseUrl := .Site.BaseUrl }}
      {{ range $.Site.Data.tree.api_pages }}
        <li>
          <a href="{{ $baseUrl }}/{{ .name }}">{{ .title }}</a>
          {{ $name := .name }}
          {{ if .showSections }}
          <ul>
          {{ range .sections }}
            <li><a href="{{ $baseUrl }}/{{ $name }}#{{ .id }}">{{ .title }}</a></li>
          {{ end }}
          </ul>
          {{ end }}
        </li>
      {{ end}}
      </ul>
    </div>
