<nav class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/capejs" class="navbar-brand">Cape.JS</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Components</a>
        </li>
        <li>
          <a href="#">Data Stores</a>
        </li>
        <li>
          <a href="#">Router</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Cape.JS
          <p class="lead">A lightweight JavaScript UI library based on virtual-dom</p>
        </h1>
      </div>
      <div class="col-md-4">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">
    	      	<img src="{{ .Site.BaseUrl }}/images/capejs.svg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
