<div id="masthead-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h1>Cape.JS Documentation
          <p class="lead">A lightweight JavaScript UI library based on virtual-dom</p>
        </h1>
      </div>
      <div class="col-sm-3">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">
              <img src="{{ .Site.BaseUrl }}/images/capejs.svg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="padding-bottom: 10px">
        {{ $baseUrl := .Site.BaseUrl }}
        {{ range $.Site.Data.tree.top }}
        <a href="{{ $baseUrl }}/#{{ .id }}">{{ .title }}</a> -
        {{ end}}
        <a href="{{ $baseUrl }}/#acknowledgements">Acknowledgements</a> -
        <a href="{{ $baseUrl }}/#trademarks">Trademarks</a> -
        <a href="{{ $baseUrl }}/#license">License</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="padding-bottom: 10px">
        {{ $baseUrl := .Site.BaseUrl }}
        {{ range $.Site.Data.tree.pages }}
        <a href="{{ $baseUrl }}/{{ .name }}">{{ .title }}</a> -
        {{ end}}
        <a href="{{ $baseUrl }}/api">API Reference</a>
      </div>
    </div>
  </div>
</div>
