    <div class="col-xs-12 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul class="nav">
      {{ $baseUrl := .Site.BaseUrl }}
      {{ range $.Site.Data.tree.top }}
        <li><a href="{{ $baseUrl }}/#{{ .id }}">{{ .title }}</a></li>
      {{ end}}
      {{ range $.Site.Data.tree.pages }}
        <li>
          <a href="{{ $baseUrl }}/{{ .name }}">{{ .title }}</a>
          {{ $name := .name }}
          <ul>
          {{ range .sections }}
            <li><a href="{{ $baseUrl }}/{{ $name }}/#{{ .id }}">{{ .title }}</a></li>
          {{ end}}
          </ul>
      {{ end}}
        <li><a href="{{ $baseUrl }}/api">API Reference</a></li>
      </ul>
    </div>
