<!DOCTYPE html>
<html lang="en">
{{ partial "html_head_for_top.html" . }}
<body>
<div class="page-container">
{{ partial "header.html" . }}
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    {{ partial "sidebar.html" . }}
    <div class="col-xs-12 col-sm-9">
    {{ range $index, $page := .Site.Pages.ByWeight }}
      {{ if eq .Type "index" }}
      <article>
        <div>
          {{ .Content }}
        </div>
      </article>
      {{ end }}
    {{ end }}
    </div>
  </div>
</div>
</div>
{{ partial "footer.html" . }}
</body>
</html>
